body {
  padding: 0;
  margin: 0;
  background: url(../pics/back.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  animation: changeBack 15s infinite alternate;
}

@keyframes changeBack {
  0% {
    background: url(../pics/back.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  25% {
    background: url(../pics/bui.webp);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  50% {
    background: url(../pics/build3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
  100% {
    background: url(../pics/woek.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }
}
